<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="vn.amela.authservice.mapper.UserMapper">

    <resultMap id="userResultMap"
               type="vn.amela.authservice.entity.User">

        <id property="id" column="id"/>

        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="email" column="email"/>
        <result property="fullName" column="full_name"/>
        <result property="role" column="role"/>
        <result property="isActive" column="is_active"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>

    </resultMap>

    <select id="selectByUserName"
            resultMap="userResultMap">
        SELECT *
        FROM users
        WHERE username = #{username}
    </select>
    
    <insert id="insert"
            useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO users (
            username,
            password,
            email,
            full_name,
            role,
            is_active
            )
        VALUES(
            #{username},
            #{password},
            #{email},
            #{fullName},
            #{role},
            #{isActive}
            )
    </insert>

    <select id="selectByEmail"
            resultMap="userResultMap">
        SELECT *
        from users
        where email = #{email}
    </select>

    <select id="selectByUserNameOrEmail"
            resultMap="userResultMap">
        SELECT *
        from users
        where username = #{usernameOrEmail}
           OR email = #{usernameOrEmail}
        LIMIT 1
    </select>

</mapper>   